@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    height: 40px;
    max-width: 100%;
    background-color: #333333;
    align-content: center;
}
nav .container{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 200px 0px 200px;
}
nav .container a{
    color: rgb(208, 207, 207);
    text-decoration: none;
    transition: all 300ms ease-in-out;
    align-content: center;
}
nav .container .logo a:hover{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.logo{
    padding: 6px 8px 6px 8px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;

}
    @media(max-width: 999px){
        nav .container{
            padding:0px 150px 0px 150px;
        }
    }        
    
        
.img{
    width: 400px;
    height: auto;
}
.text{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
    margin-bottom:  20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search-box{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding: 3px;
    color: white;
}
.search-box-black{
    color:black;
}
.searching{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    margin: 3px;
color: black;
}
.search{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    margin: 3px;
    color: white;
}
.btn{
    border-radius: 30px;
    margin: 30px 10px 30px 10px;
    padding: 15px;
    font-size: 20px;
}
.btn-bt{
    border-radius: 30px;
    margin: 30px 30px 30px 10px;
    padding: 15px;
    font-size: 20px;
}
.map{
    margin-top: 15px;
    text-align: center;
    display: flex;   
}
.img-box{
    width: 50vw;
    height: 50vh;
    margin: 15px;  
} 
.img-a{
    background-image: url(../../ipadimages/ipad.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 20px;
}
.img-b{ 
    background-image: url(../../airpodimages/airpod.jpeg);
    background-size: contain;
    background-repeat: no-repeat; 
    background-color: white;
    border-radius: 20px;
}
.img-c{
    background-image: url(../../iwatchimages/iwatch.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    padding-left: 5px;
    border-radius: 20px;
}
.img-d{
    background-image: url(../../visionimags/Apple\ Vision\ Pro.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 20px;
}
.map-a{
    position: relative;
    top: 150px;
    left: 120px;
    text-align:center;
}
.map-b{
    position: relative;
    top: 170px;
    left: 170px;
}
.map-c{
    position: relative;
    top: 150px;
    left: 120px;
    text-align:center;
}
.map-d{
    position: relative;
    top: 150px;
    left: 170px;
    text-align:center;
} 
.blockchain-1{
    display: flex;
    width: 75vw;
    height: 65vh;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
    padding-left: 10px;
}
.blockchain{
    display: flex;
    padding: 10px;
}
.text-3-1{
    color: black;
    justify-content: space-between;
    padding:50px ;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}


.text-3{
    background-color:white;
    text-align:center;
    color: black;
    justify-content: center;
    padding: 50px;
    margin-bottom:  20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.macbook{
    text-align: start;
    font-size: 90px;
}
.para{
    background-color: whitesmoke;
    color: darkgrey;
    line-height: 2;
}
.para p{
    align-items: center;
    padding: 22px 10rem 22px 10rem;
    margin: 10px 30px 10px 30px;
}
.para .unorderd{
    display: flex;
    justify-content: space-between;
    padding: 20px 10rem 10px 10rem;
    margin: 10px 30px 10px 30px;
    border-top: 0.5px  black;
    
}
.unorderd li{
    list-style: none;
}
.macbook-pro{
    background-image: url(/work2/work2/);
    background-size: cover;
    background-repeat: no-repeat;
    width:90vw ;
    height:100vh ;
    border-radius: 25px;
    margin:70px auto;
}
.macbook-pro-1{
    position: relative;
    top: 400px;
}
.macbook-1{
    font-size: 90px;
    color: white;
}

/* ipad */

/* store */
.