*{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    background-color: rgb(30, 29, 31);
    padding:10px 3px 10px 3px;
}
.nav-text{
    margin: 10px;
    color: rgb(197, 193, 193);
    
}
.img{
    width: 400px;
    height: auto;
}
.text{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
    margin-bottom:  20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search-box{
    font-size: 40px;
    padding: 3px;
    color: white;
}
.search-box-b{
    font-size: 40px;
    padding: 3px;
    color:black;
}
.search{
    font-size: x-large;
    margin: 3px;
    color: white;
}
.search-b{
    font-size: x-large;
    margin: 3px;
    color:black;
}
.btn{
    border-radius: 30px;
    margin: 30px 10px 30px 30px;
    padding: 15px;
    font-size: 20px;
}
.btn-bt{
    border-radius: 30px;
    margin: 30px 30px 30px 10px;
    padding: 15px;
    font-size: 20px;
}
   
.map{
    margin-top: 20px;
    text-align: center;
}
.img-boxa{
    width: 45vw;
    height: 50vh;
    display: inline-block;
    background-image: url(../../Iphone13.jpeg);
    background-size: cover;
    /* padding-right: 30px; */
    margin-right: 20px;
}
.img-boxb{
    width: 45vw;
    height: 50vh;
    display: inline-block;
    background-image: url(../../airpod.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    /* padding-left: 30px; */
    margin-left: 20px;
}
.img-boxc{
    width: 45vw;
    height: 50vh;
    display: inline-block;
    background-image: url(../../iwatch.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
}
.img-boxd{
    width: 45vw;
    height: 50vh;
    display: inline-block;
    background-image: url(../../iwatch.jpeg);
    background-size: cover;
}

.map-box-a{
    position: relative;
    top: 250px;
    text-align:center;
    color: black;
}
.map-box-b{
    position: relative;
    top: 170px;
    left: 170px;
    text-align:center;
}
.map-box-c{
    position: relative;
    top: 100px;
    text-align:center;
}
.map-box-d{
    position: relative;
    top: 100px;
    text-align:center;
}