*{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    background-color: rgb(41, 40, 40);
    padding:15px 3px 10px 3px;
    position: sticky;
    top: 0px;
}
a{
    color: white;
    text-decoration: none;
}
.nav-text{
    margin: 10px;
    color: rgb(197, 193, 193);
    
}
.img{
    width: 400px;
    height: auto;